@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .solutions-text {
    margin-bottom: 48px;
  }
  .solutions {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .solutions {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/people-office1.jpg);
      }
    }
  }
  .design-sv {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--color-cloud);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .header-contacts {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
  }
  .design {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .design-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .design-item {
    width: calc((100% - 72px) / 4);
  }
  .design-tittle {
    font-size: 20px;

    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
  }
  .design-info {
    font-weight: 400;
  }

  .foto {
    display: block;
    padding-bottom: 120px;
  }
  .foto-list {
    display: flex;
    gap: 24px;
  }
  .foto-item {
    width: calc((100% - 48px) / 3);
  }
  .foto-question {
    color: var(--color-accent);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .footer-logo {
    min-width: 264px;
  }

  .social-footer-p {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .footer-logo-div {
    display: flex;
    align-items: flex-start;
  }

  .social-footer-div {
    display: flex;
    align-items: flex-start;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-in {
    display: flex;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffff;
  }
  .subscribe-button {
    background-color: #4d5ae5;
    color: #ffff;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
