@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .solutions-text {
    margin-bottom: 48px;
  }
  .solutions {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-officee1@2x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .solutions {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/people-office1.jpg);
      }
    }
  }
  .design-sv {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--color-cloud);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .header-contacts {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
  }
  .header-address {
    font-size: 16px;
  }
  .contacts-link {
    font-size: 16px;
  }
  .design {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .design-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .design-item {
    width: calc((100% - 72px) / 4);
  }
  .design-tittle {
    font-size: 20px;

    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
  }
  .design-info {
    font-weight: 400;
  }

  .foto {
    display: block;
    padding-bottom: 120px;
  }
  .foto-list {
    display: flex;
    gap: 24px;
  }
  .foto-item {
    width: calc((100% - 48px) / 3);
  }
  .foto-question {
    color: var(--color-accent);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .footer-container {
    gap: 0;
  }

  .footer-left {
    margin-right: 120px;
  }
  .social-footer-p {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .subscribe {
    margin-left: auto;
  }
}
