@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-address {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }
  .header-contacts {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .solutions {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/eople-office1@2xtablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .solutions {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/people-office1.jpg);
      }
    }
  }
  .solutions-text {
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 1.07;
  }
  .design-tittle {
    text-align: start;
  }
  .design-list {
    column-gap: 24px;
  }
  .design-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
  .modal {
    width: 408px;
  }

  /* Footer */
  .footer-container {
    text-align: left;
    max-width: 584px;
    justify-content: flex-start;
  }

  .subscribe {
    max-width: 453px;
    width: 100%;
  }
  .subscribe-form {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
