:root {
  --color-primary: #434455;
  --color-secondary: #4d5ae5;
  --color-accent: #2e2f42;
  --color-background: #e7e9fc;
  --color-whitee: #ffffff;
  --color-cloud: #f4f4fd;
  --color-hover-haeder: #404bbf;
  --cornflower: #e7e9fc;
  --grey: #2e2f42b2;
  --color-rust: #8e8f99;
  --dairy: #fcfcfc;
}
